body, html {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: rgba(255, 255, 255,1);
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    font-family: 'Roboto Slab', serif;
}

h1{
    font-size: 3.5em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2.5em;
}

h4{
    font-size: 1.8em;
}

h5{
    font-size: 1.3em;
}

h6{font-size: 1.1em}

.box-size{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.transition3s{
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.transition5s{
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.up{
    position: fixed;
    right: 2%;
    bottom:0;
    display: none;
    padding:5px 15px;
    background: rgba(0,0,0,.5);
    cursor: pointer;
    z-index: 100;
}

.up:hover, .up:focus, .up:active{
    opacity: 1;
    background: #01BAFD;
}

.up i{
    font-size: 3em;
    color: #dddddd;
}

.fixed{
    position: fixed;
    bottom: 0;
}
/*Main page*/
/*Header-block */
.cathedra-block{
    padding: 10px 0;
    width: 100%;
    display: block;
}

.cathedra-block .ico{
    height: auto;
    float: left;
    margin: 20px 5px 10px 5px;
}

.cathedra-block .ico i{
    font-size: 3em;
    color: #333333;
}

 .black .ico i{
    color: #fff;
}
.black .title h1, .black span{
    color: #fff!important;
}

.cathedra-block .title{
    float: left;
    margin: 10px 0;
    width: 80%;
}
.cathedra-block .title span{
   font-size: .9em;
    color: #333333;!important;
}

.cathedra-block .title h1{
    font-size:1.5em;
    margin: 5px 0;
    color: #333;
}

.cathedra-block .number{
    display: block;
    float: left;
    margin: 20px 5px 10px 5px;
}

.cathedra-block .number span{
    font-size: 1.3em;
}

 .login-btn{
    margin: 15px 10px;
    text-transform: uppercase;
    padding: 8px 15px;
    border: 1px solid #333333;
    font-size: 1em;
}

 .login-btn:hover{
    background: #01BAFD;
    border-color: #01BAFD;
    color: #fff;
}
/*Header-block */


/*Nav-block*/
.nav-block{
    background: #000000 !important;
    padding: 5px 0;
    border-radius:0;
    border: none;
    margin-bottom: 0;
}

.nav-block .navbar-nav{
width: 100%;
}

.nav-block .navbar-nav li{
    margin: 0 2%;
    text-align: center;

}
.nav-block .navbar-nav li a{
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 5px;
    background: transparent!important;
    color:#dddddd!important;
}

 .navbar-toggle{
  background-color: #01BAFD!important;
     border: none;
     border-radius: 0;
}

 .navbar-brand{
     padding:5px 10px;
 }
.navbar-brand i{
    font-size: 2.5em;
    color: #dddddd;
}

.navbar-toggle .icon-bar{
    background-color: #ffffff!important;
}

.nav-block .navbar-nav li:after{
    height: 4px;
    position: absolute;
    display: block;
    background-color: #01BAFD;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: scale3d(0, 1, 1);
    -moz-transform: scale3d(0, 1, 1);
    -o-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -webkit-transform 0.2s;
    -o-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.nav-block .navbar-nav li a:hover , .nav-block .navbar-nav li a:focus , .nav-block .navbar-nav li a:active {
    color: #01BAFD!important;
    background: transparent!important;

}

.nav-block .navbar-nav li:hover:after, .nav-block .navbar-nav li:focus:after,.nav-block .navbar-nav li:active:after, .navbar-nav li.active:after{
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.nav-block .navbar-nav .active a{
    background: transparent!important;
    color: #01BAFD!important;
}

.nav-block .navbar-nav .dropdown-menu{
    top:45px;
    border: none;
    border-radius: 0;
    box-shadow: none!important;
    background: #333333;
    padding:2px  5px ;
}

.nav-block .navbar-nav .dropdown-menu li{
    width: 100%;
    text-align: left;
}
.nav-block .navbar-nav .dropdown-menu li:after{
    display: none!important;
}



/*Nav-block*/

/*Block about cathedra*/
.about-block{
    padding: 0;
    margin:0;
    max-height: 450px;
    background:#0197ce;
    overflow: hidden;
}

.about-block .text-block{
    padding: 20px;
    word-spacing: .03em;
    color: #ffffff;
}

.about-block .text-block h2{
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}


.about-block .text-block p{
    font-size: 1.1em;
    text-align: left;
    margin-top: 20px;
    line-height: 25px;
}

.about-block .pic{
    margin: 0;
    padding: 0;
    max-height: 450px;
}
/*Block about cathedra*/

/*Section of task block*/
.task-block, .teachers-block,.book-library {
    padding: 60px 0;
    margin: 0;
    background: #fbf6ff;
}

.title{
    margin: 30px 0;
    outline: none!important;
    color: #333;
}
a.title,a:hover,a:focus, a:active, .title:hover,.title:focus,.title:active{
    text-decoration: none!important;
    color: #01BAFD;
}

 .block{
    padding: 20px;
    margin: 20px 0;
    position: relative;
    display: block;
    cursor: pointer;
}

.task-block .pic{
    width: 30%;
    height: 100%;
    padding: 10px;
    margin: 10px 35%;
}
.task-block h3{
    text-align: center;
    margin: 20px 0;
    cursor: pointer;
    color:#000;
}


.task-block .block:hover{
    background-color:#01BAFD ;
}

/*Section of task block*/

/*Section of teachers block*/

.teachers-block{
    background: #fff;
    margin: 0;
}

.teachers-block .teacher{
    padding: 0;
}

.teachers-block .teacher .pic{
    width: 100%;
    height: 300px;
    overflow: hidden;
     float: left;
}

.teacher .info-block{
    position: absolute;
    bottom:0;
    left: 0;
    display: block;
    opacity: 0;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.8);
}

.teacher .info-block .text{
    padding: 20px ;
}
.teacher .info-block .text .name{
    font-size: 2em;
    font-weight: 700;
    color: #0197ce;
    margin: 10px 0;
    text-align: left;
}

.news-block .block:hover, .book-library .block:hover,.task-block .block:hover{
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 100;
}

.teacher:hover .info-block{
    opacity: 1;
    z-index: 100;
}

.teacher .info-block .text span{
    font-size: 1.5em;
    color: #fff;
}

.more{
    background: transparent;
    font-size: 2em;
    border: 1px solid #000000;
    padding: 15px 20px;
    width: 100%;
}

.more:hover{
    border: 1px solid #0197ce;
    background: #2a6496;
    color: #fff;
}


.more-block{
    padding: 30px 0 50px 0;
    float: left;
}

/*Section of teachers block*/

/*Section of the library*/

.book-library .block{
    margin: 0;
}

.book-library .header{
    padding: 20px 0;
    width: 100%;
    float: left;
}

.book-library .header h3{
    font-size: 2em;
    text-align: center;
}

.book-library .header h4{
    font-size: 1em;
    text-align: center;
}

.book-library .pic{
    padding: 10px;
    overflow: hidden;
}

.book-library .pic img{
    margin: 10px auto;
}
 .black{
    background: #000000;
    color: #fff!important;

}

 .blue{
    background: #29bbff;
    color: #fbf6ff;

}

 .green{
    background: #1d3e1d;
    color: #fff;
}

/*Section of the library*/


/*Section of the news of cathedra*/

.news-block{
    background: #f8f8f8;
}

.news-block .pic{
    max-height: 250px;
    overflow: hidden;
}

.news-block .info h2{
    font-size: 1.5em;
}

.news-block .info .time{
    font-size: 1em;
}

/*Section of the news of cathedra*/

/*Main page*/

/*Auth    */
.auth-block{
    width: 100%;
    height: 500px;
    background: url("../images/auth.jpg") no-repeat fixed;
    background-size: cover;
}
.auth, .register{
    margin: 50px 0;
    padding: 10px ;
    border-left: 3px solid #01BAFD;
}
.auth-block h1{
    color: #01BAFD;
    text-transform: uppercase;
}

.auth-block h4{
    color: #dbdbdb;
    line-height: 35px;
}

.auth div, .register div{
    width: 40%;
    float: left;
    margin: 5px 10px;
}

.auth div label, .register div label{
    color: #810000;
    margin: 5px;
    font-size: 1.2em;
}

.auth input,.register input{
    color: #dddddd;
    width: 80%;
    padding: 10px 12px;
    background: transparent;
    border: 1px solid #dbdbdb;
}



.auth i{
    font-size: 2em;
    float: right;
    color: #dddddd;
    margin: 5px;

}
.auth .btn-container,.register .btn-container{
width: 100%;
}
.auth .login-btn,.register .login-btn{
    margin: 10px 0;
    width: 50%;
    background: transparent;
    font-size: 1.2em;
    color: #dddddd;
    border: 1px solid #dddddd;
    -webkit-transition:  all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

}
.register .login-btn{
    margin: 10px 20%;
    padding: 10px 20px;
}
.auth input:hover,.auth input:focus,.auth input:active,.auth input:visited,.register input:hover,.register input:focus,.register input:active,.register input:visited{
    border:1px solid #01BAFD !important;
    cursor: pointer;
}

.auth .login-btn:hover,.auth .login-btn:active,.auth .login-btn:focus,.register .login-btn:hover,.register .login-btn:active,.register .login-btn:focus{
    border: 1px solid #01BAFD;
    color: #333;
    background: #01BAFD;
}

/*Auth    */




/*Media quaries  */

@media all and  (max-width: 768px){
    #main-nav{
        color: #dddddd;
        visibility: hidden;
        transform: translate3d(-100%,0,0);
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 100;
        width: 300px;
        height: 100%;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    .nav-block .navbar-nav{
        background: #01BAFD!important;
        margin: 0;
    }
    .nav-block .navbar-nav li{
        margin: 0;
        padding: 10px 5px;
    }

    .nav-block .navbar-nav li a{
        font-size: 1.2em;
        color: #ffffff !important;
    }


    .nav-block .navbar-nav .active a,.nav-block .navbar-nav li a:hover , .nav-block .navbar-nav li a:focus , .nav-block .navbar-nav li a:active  {
        background: #0197ce !important;
        color: #ffffff !important;
    }

    .nav-block .navbar-nav .dropdown-menu{
        background: #0197ce !important;
    }

    .nav-block .navbar-nav .dropdown-menu li{
        text-align: center;
    }
    .navbar-default .navbar-nav>.active>a,
    .open{
        transform:translate3d(0,0,0)!important;
        visibility: visible!important;

    }

    .about-block{
        height: 100%;
        max-height: none!important;
        overflow: hidden;
    }

    .cathedra-block .ico i{
        font-size: 3em;
    }

    .cathedra-block .title h1{
        font-size: 1.6em;
    }
    .cathedra-block .number span{
        font-size: 1em;
    }


    .cathedra-block .ico{
        margin: 20px 5px;
    }

    h2{
        font-size: 2.5em;
    }

    .pic img{
        margin:0 auto;
    }
    .teachers-block .teacher .pic{
        height: auto!important;
        max-height: 500px;
    }

    .about-block{
        max-height:800px;
    }

}

@media all and  (max-width: 1000px){
    .about-block{
        max-height:800px;
    }



@media all and  (max-width: 1100px){
    .nav-block .navbar-nav li{
        margin: 0 1%;
    }
}


}

/*Media quaries  */
